:root {
  --anyboom-z-n1: -1;
  --anyboom-z-0: 0;
  --anyboom-z-1: 1;
  --anyboom-z-2: 2;
  --anyboom-z-3: 3;

  --anyboom-z-1000: 1000;
  --anyboom-z-1020: 1020;
  --anyboom-z-1030: 1030;
  --anyboom-z-1040: 1040;
  --anyboom-z-1045: 1045;
  --anyboom-z-1050: 1050;
  --anyboom-z-1055: 1055;
  --anyboom-z-1070: 1070;
  --anyboom-z-1080: 1080;
  --anyboom-z-1090: 1090;

  --anyboom-z-1100: 1100;
  --anyboom-z-1110: 1110;
  --anyboom-z-1120: 1120;
  --anyboom-z-1130: 1130;
  --anyboom-z-1140: 1140;
  --anyboom-z-1150: 1150;
  --anyboom-z-1160: 1160;
  --anyboom-z-1170: 1170;
  --anyboom-z-1180: 1180;
  --anyboom-z-1190: 1190;

  --anyboom-z-1200: 1200;
  --anyboom-z-1210: 1210;
  --anyboom-z-1220: 1220;
  --anyboom-z-1230: 1230;

  --anyboom-z-9999: 9999;
}
