:root {
  --anyboom-radius-tiny: var(--anyboom-radius-1);
  --anyboom-radius-small: var(--anyboom-radius-2);
  --anyboom-radius-base: var(--anyboom-radius-3);
  --anyboom-radius-large: var(--anyboom-radius-4);
  --anyboom-radius-huge: var(--anyboom-radius-8);
  --anyboom-radius-full: 9999px;
  --anyboom-radius-circle: 50%;
}
